.main-intro
  .top-message
    %h2 MyGrowDairy
    .text
      %p 毎日の出来事を記録しよう

.main-contents
  .lessonsOne
    .lessonsOne__item
      = icon("fas", "calendar", class: "icon")
      %h2 Diary
      %br
      %p 毎日の記録を残そう
    .lessonsOne__item
      = icon("fas", "comment", class: "icon")
      %h2 Comment
      %br
      %p 気になることはお話をしよう
    .lessonsOne__item
      = icon("fas", "tag", class: "icon")
      %h2 Tag
      %br
      %p 情報を共有しよう
  .lessonsTwo
    .lessonsTwo__item
      = icon("fas", "people-arrows", class: "icon")
      %h2 Follow
      %br
      %p 仲間を見つけよう
    .lessonsTwo__item
      = icon("far", "thumbs-up", class: "icon")
      %h2 Like
      %br
      %p リアクションをしよう
    .lessonsTwo__item
      = icon("fas", "users", class: "icon")
      %h2 Group
      %br
      %p グループを立ち上げよう
  = render "top/footer"