.signup-contents
  .content-title
    Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .signup-content
        = render "devise/shared/error_messages", resource: resource
        .signup-field
          = f.label :nickname, class:"user-login-sentence"
          = f.text_field :nickname, placeholder:"15 characters maximum", autofocus: true, autocomplete: "nickname"
        .signup-field
          = f.label :email, class:"user-login-sentence"
          = f.email_field :email, placeholder:"aaa@gmail.com", autofocus: true, autocomplete: "email"
        .signup-field
          = f.label :password, class:"user-login-sentence"
          - if @minimum_password_length
            %em
          = f.password_field :password, placeholder:"6 characters minimum",autocomplete: "new-password"
        .signup-field
          = f.label :Confirmation, class:"user-login-sentence"
          = f.password_field :password_confirmation, placeholder:"Type again",autocomplete: "new-password"
        .actions
          = f.submit "Sign up", class:"registrations-btn"
        .guestLogin-btn
          = link_to 'Guest LogIn', top_guest_sign_in_path, class: "guestLogin-devise-text", method: :post
