.comments
  .comments__title
    %h4 Comments for this post
  - if @comments
    - @comments.each do |comment|
      .comments__text
        .comments__text--first
          = link_to "@#{comment.user.nickname}", "/users/#{comment.user_id}", class:"commentUser"
          = comment.created_at.strftime('%Y/%m/%d %H:%M')
          - if current_user == comment.user
            .comments__destroy
            = link_to "Delete", post_comment_path(comment.post.id, comment.id),class:"commentDelete", method: :delete
        = simple_format comment.text, class:"commentText"
.container
  .form-box
    - if current_user
      .form-title
      = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "Type a Comment", rows: "10", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ※※※ 新規登録/ログインでコメントすることができます。 ※※※