- if user_signed_in? 
  .followerCount
    %a.followInfo-btn{"data-id"=>"1"}
      = "Following: #{@user.follower.count}"
    %section#modalArea.modalArea{"data-id"=>"modal1"}
      #modalBg.modalBg
      .modalWrapper
        .modalContents
          = render "relationships/following_modal"
          #closeModal.closeModal
            ×
    %a.followInfo-btn{"data-id"=>"2"}
      = "Followers: #{@user.followed.count}"
    %section#modalArea.modalArea{"data-id"=>"modal2"}
      #modalBg.modalBg
      .modalWrapper
        .modalContents
          = render "relationships/follower_modal"
          #closeModal.closeModal
            -# 二つ目のモダールが消せないため仮置き
            = link_to '×', user_path(user.id), class:"closeModal-2"
  - unless user_signed_in? && current_user.id == @user.id
    - if current_user.following?(@user)
      = link_to 'Following', unfollow_path(user.id), class: 'unFollowBtn', method: :POST 
    - else
      = link_to 'Not Following', follow_path(user.id), class: 'followBtn', method: :POST
- else
  %strong ※新規登録/ログインでフォロー機能が使えます※