.groupWrapper
= form_for group do |f|
  .groupForm__errors
    %ul
      - group.errors.full_messages.each do |message|
        %li= message
  .groupForm__field
    .groupForm__field
      %h3 Group Name
    .groupForm__field
      = f.text_field :name, class: 'group-form__input', placeholder: 'Input Group Name'
    .groupForm__field
      %h3 Select Member
      -# %label.chat-group-form__label{:for => "group"} Group Member
    .groupForm__field
      = f.collection_check_boxes :user_ids, User.all, :id, :nickname
  .groupForm__field
    = f.submit class: 'groupForm__field--btn'