.postTitle
  = @user.nickname 
  のマイページ
.userInfo
  .userInfo__image-box
  = image_tag @user.image_url if @user.image?
  .userInfo__prof-box
  = @user.profile
.show-link-box
  = link_to "GoTo Posts", posts_path
- if user_signed_in? && current_user.id == @user.id
  .link-box
    = link_to "Edit Profile", edit_user_registration_path


