.content-title
  = @user.nickname 
.userPage__contents
  .userPage__contents--left
    - if @user.image?
      = image_tag @user.image_url
    - else
      %image.icon{alt: "ユーザーアイコン", src: "/assets/default.png",width:"200px",height:"200px"}
    .userPage__contents--left__user-info-title
      = render "relationships/follow_button", user:@user
      - if user_signed_in? && current_user.id == @user.id
        .editProf-box
          -# = icon("fas", "user-edit", class: "icon")
          %buttun.editProf-box-btn
            = link_to "Edit Profile", edit_user_registration_path, class: "editProfile-text"
      %h4 Profile
      .userPage__contents--left__user-info-profile
        .profile-text
          = @user.profile
  .userPage__contents--right
    .pagination-box
      = paginate(@posts)
    .userPage__contents--right__posts
      - @posts.each do |post|
        .userPage__contents--right__posts__box
          .userPage__content--right--posts__box--title
            = link_to post.title, post_path(post.id), class:"postTitle"
          .userPage__content--right--posts__box--time
            = post.created_at.strftime('%Y/%m/%d %H:%M')




