.content-title
  = @user.nickname 
.userPage__contents
  .userPage__contents__left
    - if @user.image?
      = image_tag @user.image_url
    - else
      %image.icon{alt: "ユーザーアイコン", src: "/assets/default.png",width:"200px",height:"200px"}
    .userPage__contents__left__userInfo
      = render "relationships/follow_button", user:@user
      - if user_signed_in? && current_user.id == @user.id
        %buttun.editProf-box-btn
          = link_to "Edit Your Profile?", edit_user_registration_path, class: "editProfText"
      %h4 Profile
      .userPage__contents__left__userInfo--prof
        .userPage__contents__left__userInfo--prof--text
          = simple_format @user.profile
  .userPage__contents__right
    .pagination-box
      = paginate(@posts)
    .userPage__contents__right__posts
      - @posts.each do |post|
        .userPage__contents__right__posts__box
          .userPage__content__right__posts__box--title
            = link_to post.title, post_path(post.id), class:"postTitle"
          .userPage__content__right__posts__box--time
            = post.created_at.strftime('%Y/%m/%d %H:%M')




