.breadCrumb
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
.content-title
  = "@#{@user.nickname}" 
.userPage__contents
  .userPage__contents__left
    .userPage__contents__left__imageBox
      - if @user.image?
        = image_tag @user.image_url, class: "profImage"
      - else
        = icon("far", "laugh", class: "default-icon")
    .userPage__contents__left__userInfo
      = render "relationships/follow_button", user:@user
      .userPage__contents__left__userInfo--group
        = link_to "Groups: ✖︎✖︎", groups_path, class: "userInfo-groups"
      .userPage__contents__left__currentUser--box
      - if user_signed_in? && current_user.id == @user.id
        .userPage__contents__left__userInfo--show
          %buttun.likedPostsText My Posts
          %buttun.allPostsText Liked Posts
        .userPage__contents__left__userInfo--edit
          = link_to "Edit Profile", edit_user_registration_path, class: "editProfText"
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "logoutBtn"
      %h4 Profile
      .userPage__contents__left__userInfo--prof
        .userPage__contents__left__userInfo--prof--text
          = simple_format @user.profile
  .userPage__contents__right
    .userPage__contents__right__posts
      %h2.far.fa-user 
        = "#{@user.nickname}  's Post"
      - @posts.each do |post|
        .userPage__contents__right__posts__box
          .userPage__content__right__posts__box--title
            = link_to post.title, post_path(post.id), class:"postTitle"
          .userPage__content__right__posts__box--time
            = post.created_at.strftime('%Y/%m/%d %H:%M')
            %i.far.fa-thumbs-up
              = post.likes.count
            %i.far.fa-comment
              = post.comments.count
      -# .pagination-box
      -#   = paginate(@posts)
    .userPage__contents__right__likes
      .userPage__contents__right__posts
      %h2.far.fa-thumbs-up 
        = "Liked Posts"
      - @likes.each do |like|
        .userPage__contents__right__posts__box
          .userPage__content__right__posts__box--title
            = link_to like.post.title, post_path(like.post.id), class:"postTitle"
          .userPage__content__right__posts__box--user
            = link_to "@#{like.post.user.nickname}", user_path(like.post.user), class:"postUser"
          .userPage__content__right__posts__box--time
            = like.post.created_at.strftime('%Y/%m/%d %H:%M')
            %i.far.fa-thumbs-up
              = like.post.likes.count
            %i.far.fa-comment
              = like.post.comments.count

