.content-title
  = "@#{@user.nickname}" 
.userPage__contents
  .userPage__contents__left
    .userPage__contents__left__imageBox
      - if @user.image?
        = image_tag @user.image_url, class: "profImage"
      - else
        %image.icon{alt: "ユーザーアイコン", src: "/assets/default.png",width:"200px",height:"200px"}
    .userPage__contents__left__userInfo
      = render "relationships/follow_button", user:@user
      - if user_signed_in? && current_user.id == @user.id
        %buttun.editProf-box-btn
          = link_to "Edit Your Profile", edit_user_registration_path, class: "editProfText"
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "logoutBtn"
      %h4 Profile
      .userPage__contents__left__userInfo--prof
        .userPage__contents__left__userInfo--prof--text
          = simple_format @user.profile
  .userPage__contents__right
    %h2 Posts
    .userPage__contents__right__posts
      - @posts.each do |post|
        .userPage__contents__right__posts__box
          .userPage__content__right__posts__box--title
            = link_to post.title, post_path(post.id), class:"postTitle"
          .userPage__content__right__posts__box--time
            = post.created_at.strftime('%Y/%m/%d %H:%M')
    .pagination-box
      = paginate(@posts)
-# (仮)それぞれ非同期で投稿一覧部分に表示させたい
-# .userPage__bottom
-#   .userPage__bottom__left
-#     %h2 Following List
-#     - @user.following_user.each do |user|
-#       %p= link_to "@#{user.nickname}", user_path(user), class: "userNickname"
-#   .userPage__bottom__right
-#     %h2 Follower List
-#     - @user.follower_user.each do |user|
-#       %p= link_to "@#{user.nickname}", user_path(user), class: "userNickname"

