.tags-wrapper
  .tagTitle
    = @tag.name
  .contents
    - @post.each do |post|
      .content
        .content__left
          - if post.user.image?
            = image_tag "#{post.user.image}", class:"small-icon"
          - else
            = icon("far", "laugh", class: "small-default-icon")
        .content__right
          .content__right__top
            = link_to post.title, post_path(post.id), class: "posttitle"
          .content__right__bottom
            = link_to "@#{post.user.nickname}", user_path(post.user), class: "content__right__bottom--userName--btn"
            .content__right__bottom--date
              = post.created_at.strftime('%Y/%m/%d %H:%M') 
            %i.far.fa-thumbs-up
              = post.likes.count
            %i.far.fa-comment
              = post.comments.count
  .pagination-box
    = paginate(@post)