.login-contents
  .content-title
    Log In
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login-content
        .login-field
          = f.label :email, class:"user-login-sentence"
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .login-field
          = f.label :password, class:"user-login-sentence"
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Log in", class:"registrations-btn"
        .guestLogin-btn
          = link_to 'Guest LogIn', top_guest_sign_in_path, class: "guestLogin-devise-text", method: :post
      -# = render "devise/shared/links"
