= form_with model: @post, class: :form, local: true do |form|
  = form.text_field :title, placeholder: :"Title", class: :form__title
  = form.text_area :text, placeholder: :"Text", class: :form__text
  .form-tag
  %h2 Select Tags
  = form_for @post do |f|
    .form-group
      = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag|
        .form-check
          = tag.label class: 'form-check-label' do
            = tag.check_box class: 'form-check-input'
            = tag.text
    = form.submit 'Post', class: :form__postBtn

:javascript
  var easyMDE = new EasyMDE({element: $('.text_area')[0]});

