.postShow-contents
  .postTitle
    = @post.title
  .postDate
    = @post.created_at.strftime('%Y/%m/%d %H:%M') 
  .postAuthor
  - if user_signed_in? && current_user.id == @post.user_id
    .postManage
      = link_to "Edit", edit_post_path(@post.id), class: "postManage__edit"
      = link_to "Delete", post_path(@post.id), method: :delete, class: "postManage__delete"
  .postText
    = simple_format @post.text
  .postTag
    - @post.tags.each do |tag|
      %span.tagItem
        = link_to tag.name, tag_path(tag.id), class: "tagItem--name"

.comments
  .comments__title
    %h4 Comments for this post
  - if @comments
    - @comments.each do |comment|
      .comments__text
        %p
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
          = comment.text
        .comments__text__time
          = comment.created_at.strftime('%Y/%m/%d %H:%M')

.container
  .form-title
    %h4 Input Comment
    .form-box
      - if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "Type a Comment", rows: "10", class: "textbox"
          = form.submit "SEND", class: "form__submit"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※


-# マークダウン記法で表示させたい
-# :javascript
-#   var easyMDE = new EasyMDE({element: $('.postText')[0]});