.postShow-contents
  .postImage
    -# = image_tag @post.image.url
  .postTitle
    = @post.title
  .postDate
    = @post.created_at.strftime('%Y/%m/%d %H:%M') 
  .postInfo
    .postInfo__username
      = link_to "@#{@post.user.nickname}", user_path(@post.user), class: "postInfo__nickname"
    .postInfo__likeIcon
      = render "likes/like_button"
    .postInfo__commentIcon
      %i.far.fa-comment
        = @comment_count
    
  .postAuthor
  - if user_signed_in? && current_user.id == @post.user_id
    .postManage
      = link_to "Edit", edit_post_path(@post.id), class: "postManage__edit"
      = link_to "Delete", post_path(@post.id), method: :delete, class: "postManage__delete"
  .postText
    = simple_format @post.text
  .postTag
    - @post.tags.each do |tag|
      %span.tagItem
        = link_to tag.name, tag_path(tag.id), class: "tagItem--name"
  .postLikeIcon--foot
    = render "likes/like_button"
  = render "posts/comment"



-# マークダウン記法で表示させたい仮置き
-# :javascript
-#   var easyMDE = new EasyMDE({element: $('.postText')[0]});