!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0", name: "viewport"}/
    %link{href: "https://unpkg.com/easymde/dist/easymde.min.css", rel: "stylesheet"}/
    %script{src: "https://unpkg.com/easymde/dist/easymde.min.js"}
    %title MyGrowDiary
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'fav.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "top/header"
    .notifications
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)
    = render "top/modal"
    = icon("fas", "arrow-up", class:"back-to-top")
    = yield

